<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="canopy" version="2.1.5" targetFramework="net472" />
  <package id="FSharp.Core" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="SizSelCsZzz" version="0.3.36.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net472" />
</packages>